<% if(err_msg.length > 0){ %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <%= err_msg %>
  <button type="button" class="alert-dismissible btn-close" data-bs-dismiss="alert"></button>
</div>
<% } %>
