<form method="POST" action="/create">
  <input type="hidden" name="type" value="none" />

  <select class="form-select form-select-lg mb-3" id="type" name="selectedType">
    <option value="hue">Hue</option>
  </select>
  <button type="submit" class="btn btn-primary my-3">Next</button>
</form>
