<form method="POST" action="/create">
  <select class="form-select form-select-lg mb-3" id="type" name="type">
    <option value="hue">Hue</option>
    <option value="air">Lüftung</option>
  </select>
  <button type="submit" class="btn btn-primary my-3">Next</button>
</form>
