<form method="POST" action="/delete">
  <input type="hidden" name="name" value="<%= name %>" />
  <h2>Are you sure?</h2>
  <button type="submit" class="btn btn-danger my-3">Yeet it off the cliff!</button>
</form>
